body {
  font-family: Pretendard;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#container {
  height: calc(100vh - 2.9vw - 30px);
  overflow-y: auto;
}
#container::-webkit-scrollbar {
  display: none;
}

#red-area {
  background-color: #F83E48;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#mid-area {
  background-color: #FFFFFF;
  width: 150%;
  height: 100%;
  position: absolute;
  right: -150%;
  transform: skew(-16deg);
  z-index: 1;
  transition: 0.5s;
}
#blue-area {
  background-color: #1DC1DD;
  width: 150%;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: -100%;
  transform: skew(-16deg);
  overflow: hidden;
  transition: 0.5s;
}
#blue-area:hover {
  transition: 0.5s;
}
.maintxt {
  font-size: 128px;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}
#red-txt {
  color: #F83E48;
}
#blue-txt {
  transform: skew(16deg);
  color: #1DC1DD;
}
.txtline {
  width: 100%;
  display: flex;
  white-space: nowrap;
}
.txtline div {
  padding-inline: 10px;
}
#red-txt .txtline div{
  animation: loopText1 60s linear infinite;
  animation-delay: -60s;
}
#red-txt .txtline div:nth-child(2) {
  animation: loopText2 60s linear infinite;
  animation-delay: -30s;
}
@keyframes loopText1 {
0%{
  transform: translateX(-100%);
}
100%{
  transform: translateX(100%);
}
}
@keyframes loopText2 {
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(0%);
  }
}
#blue-txt .txtline div{
  animation: loopText3 60s linear infinite;
  animation-delay: -60s;
}
#blue-txt .txtline div:nth-child(2) {
  animation: loopText4 60s linear infinite;
  animation-delay: -30s;
  transform: translateX(-200%);
}
@keyframes loopText3 {
0%{
  transform: translateX(100%);
}
100%{
  transform: translateX(-100%);
}
}
@keyframes loopText4 {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-200%);
  }
}
.txtline div span:hover {
  color: white;
  transition: 0.4s;
}
.after .maintxt {
  display: none;
}
#top-nav, .category {
  background-color: #1B1B1B;
  font-size: calc(2.9vw - 10px);
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
  padding-inline: 20px;
}
#top-nav {
  padding-inline: 14px;
}
.category {
  opacity: 1;
  margin-block: 1px;
  cursor: pointer;
}
.category div {
  width: 100%;
  padding: 10px 12px;
}
.nav-content {
  padding: 10px 12px;
}
.btn {
  cursor: pointer;
}

#title{
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}
#title div, .category-teams div {
  width: 100%;
  padding-inline: 12px;
}
#Rtitle, .red-team {
  color:#F83E48;
  text-align: right;
}
#Btitle, .blue-team {
  color:#1DC1DD;
}
#Mtitle, #mid-text {
  text-align: center;
  max-width: calc((2.9vw - 10px)*3);
}
.arrow {
  color: gray;
  transition: 0.2s
}
.arrow:hover {
  color: white;
  transition: 0.2s
}

.text-box {
  max-width: 960px;
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  padding: 0 36px;
  line-height: 1.7;
  overflow-y: auto;
  max-height: 90vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.text-box::-webkit-scrollbar {
  display: none;
}
.text-box a, .mark {
  background-color: #1B1B1B;
  color: white;
  padding-inline:2px;
  text-decoration: none;
  cursor: pointer;
  mix-blend-mode: multiply;
}
.text-box a:hover, .mark:hover {
  background-color: #ABABAB;
  color: #1B1B1B;
  mix-blend-mode: luminosity;
}
.text-copyright {
  text-align: right;
}
.table {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1B1B1B;
  cursor: pointer;
}
.table:hover{
  background-color: white;
}
.table div {
  width: 100%;
  text-align: center;
  font-size: calc(2.9vw + 10px);
  font-weight: 600;
  padding: 6px 0;
}
.selected {
  background-color:white;
}

#bottom {
  position: absolute;
  bottom: 0;
  background-color: white;
  color: #1B1B1B;
  font-size: calc(2.9vw + 10px);
  font-weight: 700;
  width: 100%;
  padding: 4px 12px;
  text-align: center;
  border-top: 1px solid #1B1B1B;
  opacity: 0;
}
.bottom-line {
  width: 100%;
  display: flex;
  white-space: nowrap;
}
.bottom-line div {
  animation: loopText3 60s linear infinite;
  animation-delay: -60s;
}
.bottom-line div:nth-child(2) {
  animation: loopText4 60s linear infinite;
  animation-delay: -30s;
  transform: translateX(-200%);
}
.bottom-txt {
  padding: 0 2em;
}
.bottom-click #bottom {
  transition: 0.2s;
  cursor: pointer;
}
.bottom-click #bottom:hover {
  background-color: #1B1B1B;
  color: white;
  transition: 0.2s;
}

.page {
  opacity: 0;
  transition: 0.2s;
}
#categories {
  transition: 0.2s;
}
.content-page {
  opacity: 0;
  display: none;
  transition: 0.2s;
}
.category:hover {
  background-color: white;
  color: #1B1B1B;
}

@media screen and (max-width: 980px){
  #top-nav, .category {
    font-size: 18px;
  }
  #Mtitle, #mid-text {
    max-width: 32px;
  }
}