body {
  font-family: Pretendard;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#red_area {
  background-color: #E32537;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#gray_area {
  background-color: #969696;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -150%;
  transform: skew(-16deg);
  z-index: 1;
  transition: 0.5s;
}
#blue_area {
  background-color: #1DC1DD;
  width: 150%;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: -100%;
  transform: skew(-16deg);
  overflow: hidden;
  transition: 0.5s;
}
#blue_area:hover {
  transition: 0.5s;
}
.maintxt {
  font-size: 128px;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}
#red_txt {
  color: #E32537;
}
#blue_txt {
  transform: skew(16deg);
  color: #1DC1DD;
}
.txtline {
  width: 100%;
  display: flex;
  white-space: nowrap;
}
.txtline div {
  padding: 0 10px;
}
#red_txt .txtline div{
  animation: loopText1 60s linear infinite;
  animation-delay: -60s;
}
#red_txt .txtline div:nth-child(2) {
  animation: loopText2 60s linear infinite;
  animation-delay: -30s;
}
@keyframes loopText1 {
0%{
  transform: translateX(-100%);
}
100%{
  transform: translateX(100%);
}
}
@keyframes loopText2 {
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(0%);
  }
}
#blue_txt .txtline div{
  animation: loopText3 60s linear infinite;
  animation-delay: -60s;
}
#blue_txt .txtline div:nth-child(2) {
  animation: loopText4 60s linear infinite;
  animation-delay: -30s;
  transform: translateX(-200%);
}
@keyframes loopText3 {
0%{
  transform: translateX(100%);
}
100%{
  transform: translateX(-100%);
}
}
@keyframes loopText4 {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-200%);
  }
}
.txtline div span:hover {
  color: white;
  transition: 0.4s;
}
.after .maintxt {
  display: none;
}
#top_nav {
  background-color: black;
  font-size: calc(2.9vw - 10px);
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
}
.nav-content {
  padding: 10px 12px;
}
.btn {
  cursor: pointer;
}

#title {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  transition: 1s;
}
#title div {
  width: 100%;
  text-align: center;
}
#Rtitle {
  color:#E32537;
}
#Btitle {
  color:#1DC1DD;
}

.text-box {
  max-width: 500px;
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  padding: 0 36px;
  line-height: 1.7;
  overflow-y: auto;
  max-height: 90vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.text-box::-webkit-scrollbar {
  display: none;
}
.table {
  display: flex;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.table:hover{
  background-color: white;
}
.table div {
  width: 100%;
  text-align: center;
  font-size: calc(2.9vw + 10px);
  font-weight: 600;
  padding: 6px 0;
}
.selected {
  background-color:white;
}

#footer {
  position: absolute;
  bottom: 0;
  background-color: white;
  color: black;
  font-size: calc(2.9vw + 10px);
  font-weight: 700;
  width: 100%;
  padding: 4px 12px;
  text-align: center;
  border-top: 1px solid black;
  opacity: 0;
}
.footer-line {
  width: 100%;
  display: flex;
  white-space: nowrap;
}
.footer-line div {
  animation: loopText3 60s linear infinite;
  animation-delay: -60s;
}
.footer-line div:nth-child(2) {
  animation: loopText4 60s linear infinite;
  animation-delay: -30s;
  transform: translateX(-200%);
}
.footer-txt {
  padding: 0 2em;
}
.page {
  opacity: 0;
  transition: 0.2s;
}
@media screen and (max-width: 980px){
  #top_nav {
    font-size: 18px;
  }
}